APP_NAME=skeleton
APP_ENV=dev

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=localhost
REDIS_AUTH=123
REDIS_PORT=6379
REDIS_DB=0

# 是否需要验证码
IS_VERIFY_CODE=false

HTTP_PORT=9620
GRPC_PORT=9621

#记录访问日志
RECORD_REQUEST=true

#YApi格式返回
YAPI_FORMAT=false

# 自动生成路由
ROUTE_ENABLE=true

# 自动生成资源文件
RESOURCE_PATH_ENABLE=true

# 自动生成swagger.json文件
SWAGGER_ENABLE=false